.product-price__currentPrice {
  font-weight: 600;
  font-size: 20px;
  color: #161C24;
  margin-right: 12px;
}

.product-price__oldPrice {
  font-weight: 300;
  font-size: 18px;
  text-decoration-line: line-through;
  color: #454F5B;
}

.cells {
  padding-top: 20px;
  padding-bottom: 20px;

  &__inner {
    display: flex;
  }

  &-item {
    margin-right: 6px;

    &__line {
      color: #575757;
    }

    &__last {
      color: #9D9D9D;
    }
  }
}