.product-price__currentPrice {
  font-weight: 600;
  font-size: 20px;
  color: #161C24;
  margin-right: 12px;
}

.product-price__oldPrice {
  font-weight: 300;
  font-size: 18px;
  text-decoration-line: line-through;
  color: #454F5B;
}

.cells {
  padding-top: 20px;
  padding-bottom: 20px;

  &__inner {
    display: flex;
  }

  &-item {
    margin-right: 6px;

    &__line {
      color: #575757;
    }

    &__last {
      color: #9D9D9D;
    }
  }
}

.product-rate {
  display: flex;
  align-items: baseline;

  &__reviews {
    font-weight: 400;
    font-size: 13px;
    color: #454F5B;
  }
}

.product-stars {
  display: flex;
  margin-right: 8px !important;

  &__item {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    img {
      max-width: 16px;
    }
  }
}

@media (max-width: 576px) {
  .product-stars {
    margin-right: 4px;

    &__item {
      margin-right: 2px;
    }
  }
}